@import './reset.css';

:root {
    --white: #ffffff;
    --grey: #eff1f3;
    --white-grey: hsla(0, 0%, 100%, .8);
    --light-grey: rgba(209, 213, 219, 0.5);
    --dark-grey: #6A737D;
    --black: #24292e;
    --blue: #0366D6;
    --green-primary: #2ea44f;
    --green-dismiss: #94d3a2;
    --btn-border: rgba(27, 31, 35, .1);
  }
  
* {
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
    
}

body {
    width: 100%;
    height: 100%;
    line-height: 1.5;
    font-size: 14px;
    color: var(--black);
    background-color: var(--white);
}


#App {
    width: 100%;
    height: 100%;
}
 


