.project {
  width: 100%;
  height: 100%;
}

.project-columns {
  display: flex;
  height: 1200px;

  padding: 16px;
  flex-direction: row;
}

.project-header {
  height: 58px;
  line-height: 58px;
  color: var(--white);
  font-size: 20px;
  padding: 0 16px 0 16px;
  background-color: var(--black);
}

.project-header-menu-icon {
  margin-left: auto;
}

@media (max-width: 544px) {
  .project-columns {
    height: 100%;
    flex-direction: column;
  }

  .project-header-menu-icon {
    display: none;
  }

  .project-event-column {
    display: none;
  }

  .project-column {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-right: 0px;
    margin-bottom: 16px;
  }

  .project-column-header {
    flex: none;
    margin-right: 0px;
    margin-bottom: 16px;
  }

  .project-column-body {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}
