.mypage-column-card {
  font-size: 16px;
  font-weight: 600;
  padding: 16px;
  border-top: none;
}

.mypage-column-header {
  font-size: 16px;
  font-weight: 600;
  padding: 16px;
  height: 55px;
  background-color: rgb(246, 248, 250);
  border: 1px solid #e1e4e8;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.mypage-column-input {
  height: 32px;
  line-height: 32px;
  padding: 5px 12px;
  margin: 5px 0 15px;
}

.mypage-column-failure-label {
  display: none;
  font-size: 11px;
  color: var(--red);
  margin: 0 0 15px;
}
