.project-event-column {
  position: fixed;
  top: 0;
  right: -360px;
  width: 360px;
  height: 100%;
  background: var(--white);
  transition: 0.5s;
  border: 1px solid #e1e4e8;
}

.project-event-column-header {
  border-bottom: 1px solid #e1e4e8;
  padding: 0 16px 0 16px;
  background-color: var(--grey);
  height: 45px;
  line-height: 45px;
  width: 100%;
}

.project-event-column-body {
  height: 100%;
}

.project-event-column-card {
  min-height: 86px;
  border: none;
  border-bottom: 1px solid #e1e4e8;
  padding: 16px;
}

.project-event-column-card b {
  color: var(--blue);
  font-weight: bold;
  font-size: 120%;
}

.project-event-column-card-header .header-title {
  max-width: 330px;
}

.project-event-column-card-header-text {
  width: 100%;
  word-wrap: break-word;
}
