.header {
  display: flex;
  font-weight: 600;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-leading {
  flex: none;
  margin-right: 10px;
}

.header-title {
  flex: none;
}

.header-actions {
  margin-left: auto;
}
