.modal {
  z-index: 99;
  position: fixed;
  opacity: 1;
  transition: opacity 0.2s;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  overflow: hidden;
}

.modal-content {
  background-color: #fefefe;
  border-radius: 6px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  padding: 20px;
}

.modal-header {
  min-height: 20px;
}

.modal-body {
  flex: none;
  font-weight: 600;
  font-size: 90%;
  margin-bottom: 10px;
}

.modal-label {
  font-weight: 600;
  margin-bottom: 7px;
}

.modal-input {
  height: 32px;
  line-height: 32px;
  padding: 5px 12px;
  margin: 5px 0 15px;
}

.modal-textarea {
  padding: 5px 12px;
  margin: 5px 0 15px;
}

.modal-button {
  width: 120px;
}

.modal-close-icon {
  background-color: darkred;
}
